@model QuanLyPhanMem__63135414.Models.Extension.UserViewModel
@{
    ViewBag.Title = "UserProfile";
}

<h2>UserProfile</h2>
<div>
    <p>Email: @Model.email</p>
    <p>FirstName: @Model.firstname</p>
    <p>LastName: @Model.lastname</p>
    <p>LastName: @Model.UserRole.roleName</p>
    <!-- Thêm các thông tin khác tùy thuộc vào ViewModel của bạn -->
</div>
